.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F2EBDB;
    color: #5E0639;
    border-bottom: 2px solid #4c1a2a;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 100px; /* Adjust the height as needed */
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #5E0639;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .navbar-button:hover {
        background-color: #3e0426; /* Darker shade for hover effect */
    }
