body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #C4B8A5;
    color: #5E0639;
}

.login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4B8A5;
    padding: 20px;
}

.login-box {
    background-color: #F2EBDB;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-box h1 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #5E0639;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    color: #5E0639;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #5E0639;
    box-sizing: border-box;
}

.password-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.password-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #5E0639;
    box-sizing: border-box;
}

.toggle-password-btn {
    margin-left: 10px;
    padding: 10px;
    background-color: #d8d8d8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.toggle-password-btn:hover {
    background-color: #d8d8d8;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn {
    background-color: #006400;
    color: white;
}

.login-btn {
    background-color: #800000;
    color: white;
}
